.start{
    text-align: center;
    padding-top: 50px;
}

.hide{
    display:none;
}

.choices button{
    display: block;
}

.answer{
    font-style: italic;
}

hr {
    border: 1px solid black;
}

.alldone{
    text-align: center;
}